* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px;
   
    min-height: 100vh;
}

table {
    border: 1px solid #000;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
}

table th {
    font-weight: 500;
    text-align-last: left;
}

table td {
    font-size: 15px;
}


table td, th {
    padding: 1px;
}

table td div, th div {
    background: #ffffff88;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
}


.table-wrapper {
    background: linear-gradient(41deg, rgba(183,54,255,0.4814718123577556) 0%, rgba(255,220,176,0.7475782549347865) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-flex;
    border-radius: 5px;
    padding: 1px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header div {
    display: flex;
    align-items: center;
}

header div img {
    width: 50px;
    margin-right: 10px;
}

header div p {
    font-size: 34px;
}

.wrapper {
    width: 700px;
    margin-bottom: 50px;
}

.op-wrapper tbody td[rowspan] {
    /* background: #ffffff88; */
    position: relative;
    padding: 1px;
    border-bottom: 1px solid #000;
}

.op-wrapper tbody tr td[rowspan] div {
    background: #ffffff88;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}