.login-page {
    display: flex;
    &__sidebar {
        height: 100vh;
        // background: #e5f7ff;
        width: 350px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgb(183,54,255);
        background: linear-gradient(41deg, rgb(183 54 255 / 24%) 0%, rgba(255, 220, 176, 0.7475782549) 100%);

        form {
            width: 100%;
        }

        input {
            width: 100%;
        }

        button {
            margin-top: 20px;
            width: 100%;
            font-size: 15px;
        }
    }

    &__company {
        font-size: 32px;
        margin-bottom: 20px;
    }

    &__logo {
        width: 70px;
        margin-bottom: 20px;
    }

    h3 {
        margin-bottom: 20px;
    }

    &__graphic {
        width: calc(100% - 350px);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}